### pt() computes the cumulative probability for data which has t-distribution.

In [7]:
pt(q = 1.65, df = 29) # to see t-value upto 1.65 with 29 degrees of freedom

[1] 0.9451329

Therefore, 0.94 is the probability of observing the t-value.

### Example:  We take a sample of 28 items with sample mean = 30 and sample sd = 5. The sample comes from a population whose mean is 35. What are the chances we'll observe a sample mean of atmost 30?

In [9]:
# here, p(x <= 30)
# finding the t-value corresponding to the data value of 30.
t_value = (30-35) / (5/sqrt(28))
t_value

[1] -5.291503

In [13]:
#P(X<=30) == P(t <= 5.2915) ecause this t-value corresponds to the data value of 30
pt(q = -5.2915, df = 28 - 1)

[1] 6.964051e-06

# Hypothesis test of a single sample mean using t-distribution

In [14]:
set.seed(100)
x = rnorm(16, 2, 1) #data series of 16 points with mean 2 and sd 1
mean(x)

[1] 2.039929

For one tailed test:

H0: Mean = 2


H1: Mean > 2

In [16]:
t.test(x, alternative = "greater", mu = 2)

	One Sample t-test

data:  x
t = 0.33386, df = 15, p-value = 0.3716
alternative hypothesis: true mean is greater than 2
95 percent confidence interval:
 1.830268      Inf
sample estimates:
mean of x
 2.039929

Two tailed test

H0: Mean =  2

H1: Mean != 2

In [17]:
t.test(x, alternative = "two.sided", mu = 2)

	One Sample t-test

data:  x
t = 0.33386, df = 15, p-value = 0.7431
alternative hypothesis: true mean is not equal to 2
95 percent confidence interval:
 1.785013 2.294845
sample estimates:
mean of x
 2.039929

Here, we cannot reject the null hypothesis.

# Two sample t-test

For two independent samples:

In [18]:
x1 = rnorm(20, 2, 1)
x2 = rnorm(20, 3, 1.5)

In [19]:
mean(x1)
mean(x2)

[1] 2.03662

[1] 3.097755

Two sample hypothesis test:

-----
H0: Mean1 = Mean2 (Mean difference is zero)

H1: Mean1 and Mean2 are different

In [20]:
t.test(x1,x2, alternative = "two.sided", mu = 0)

	Welch Two Sample t-test

data:  x1 and x2
t = -2.3457, df = 27.264, p-value = 0.02651
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.9889168 -0.1333551
sample estimates:
mean of x mean of y
 2.036620  3.097755

 Paired Sample t-test:

 --------

 H0: Mean1 = Mean2 (Mean difference is zero)

H1: Mean1 and Mean2 are different

In [21]:
t.test(x1, x2, alternative = "two.sided", mu = 2, paired = TRUE)

	Paired t-test

data:  x1 and x2
t = -6.832, df = 19, p-value = 1.606e-06
alternative hypothesis: true mean difference is not equal to 2
95 percent confidence interval:
 -1.9989396 -0.1233323
sample estimates:
mean difference
      -1.061136

We can see that our p-value is very low (p-value<0.05). Therefore, we reject H0.