In [ ]:
install.packages("MASS")
library(MASS)
data("survey")
#View(survey)
head(survey)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

  Sex    Wr.Hnd NW.Hnd W.Hnd Fold    Pulse Clap    Exer Smoke Height M.I
1 Female 18.5   18.0   Right R on L   92   Left    Some Never 173.00 Metric
2 Male   19.5   20.5   Left  R on L  104   Left    None Regul 177.80 Imperial
3 Male   18.0   13.3   Right L on R   87   Neither None Occas     NA NA
4 Male   18.8   18.9   Right R on L   NA   Neither None Never 160.00 Metric
5 Male   20.0   20.0   Right Neither  35   Right   Some Never 165.00 Metric
6 Female 18.0   17.7   Right L on R   64   Right   Some Never 172.72 Imperial
  Age
1 18.250
2 17.583
3 16.917
4 20.333
5 23.667
6 21.000

`H0`: There is no association between smoking and exercise.

`H1` : There is association between smoking and exercise.

In [ ]:
# creating a dataframe from the main dataset
study_data = data.frame(survey$Smoke, survey$Exer)
head(study_data)

  survey.Smoke survey.Exer
1 Never        Some
2 Regul        None
3 Occas        None
4 Never        None
5 Never        Some
6 Never        Some

In [ ]:
#creating a contingency table
study_data = table(survey$Smoke, survey$Exer)
study_data

        Freq None Some
  Heavy    7    1    3
  Never   87   18   84
  Occas   12    3    4
  Regul    9    1    7

As we have 4 rows  and 3 columns we have 3 * 2 = 6 degrees of freedom.
- The individual cell frequency are not greater > 5
Let's try Chi-Square test:

In [ ]:
chisq.test(study_data)

Warning message in chisq.test(study_data):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  study_data
X-squared = 5.4885, df = 6, p-value = 0.4828

We get a warning because assumptions are not met.

So, let use Fisher's test:

In [ ]:
fisher.test(study_data)

	Fisher's Exact Test for Count Data

data:  study_data
p-value = 0.4138
alternative hypothesis: two.sided

Although we can see that the p-value does not differ significantly in this example, when we perform some other tests it may vary significantly.

From Fisher;s Exact we can see that `p-value` > 0.05 therefore, we fail to reject the `H0`.

- So, we can say that the smoking habit is independet of the exercise level of the students.

## Test 2: **mtcars**

In [ ]:
data(mtcars)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [ ]:
# creating contingency table
table2 = table(mtcars$carb, mtcars$cyl)
table2

    4 6 8
  1 5 2 0
  2 6 0 4
  3 0 0 3
  4 0 4 6
  6 0 1 0
  8 0 0 1

`H0`: carb and cyl do not have significant association among them.

In [ ]:
chisq.test(table2)

Warning message in chisq.test(table2):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  table2
X-squared = 24.389, df = 10, p-value = 0.006632

In [ ]:
fisher.test(table2)

	Fisher's Exact Test for Count Data

data:  table2
p-value = 0.0003345
alternative hypothesis: two.sided

Here, the `p-value` < 0.05, so we reject the `H0`, i.e. we can say that carb and cyl have a significant association among them.