In [2]:
num1 = 12.7

In [3]:
# to round a number downwards to its nearest integer
floor(num1)

[1] 12

In [4]:
# to round a number upwards to its nearest inetger
ceiling(num1)

[1] 13

In [5]:
# abs() to get the absolute value of a number
abs(-14.890)

[1] 14.89

In [6]:
# sqrt(positive) to get the square root of a number
sqrt(36)

[1] 6

## Characters

In [7]:
my_str = "Hello, R!"
mulstr = "Its a
multi-line string
in R."
my_str
mulstr

[1] "Hello, R!"

[1] "Its a\nmulti-line string\nin R."

In [8]:
# cat() to get the same input string shape
cat(mulstr)

Its a
multi-line string
in R.

In [9]:
# nchar() to find the numbers of the characters
nchar(mulstr)
nchar(my_str)

[1] 29

[1] 9

In [10]:
# grepl() to check if characters are present in a string
grepl("R", my_str)
grepl("r", my_str)
grepl("!", my_str)
grepl("i", mulstr)
grepl("multi", mulstr)
grepl("Multi", mulstr)

[1] TRUE

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

In [11]:
# paste() to concatenate(merge) strings
paste(my_str, mulstr)

[1] "Hello, R! Its a\nmulti-line string\nin R."

In [12]:
# Escaping characters
str1 = "R is a \" Programming \" language."
str1

[1] "R is a \" Programming \" language."

In [13]:
cat(str1)

R is a " Programming " language.

## Operators

In [14]:
x = 12
# reminder operator
x %% 2
x %% 5

[1] 0

[1] 2

In [15]:
# getting the integer number
x %/% 2
x %/% 5

[1] 6

[1] 2

In [16]:
# logical operators
TRUE & TRUE
TRUE & FALSE

[1] TRUE

[1] FALSE

In [17]:
TRUE | TRUE
TRUE | FALSE

[1] TRUE

[1] TRUE

In [18]:
TRUE == !FALSE

[1] TRUE

## Vectors

In [19]:
# vectors
seq1 = seq(23,37)
seq1

 [1] 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [20]:
length(seq1)

[1] 15

In [21]:
seq2 = seq(from = 1, to = 51, by = 5)
seq2

 [1]  1  6 11 16 21 26 31 36 41 46 51

In [22]:
# sorting vectors
country = c("Japan", "China", "Russia", "India", "Germany")
country
sort(country)

[1] "Japan"   "China"   "Russia"  "India"   "Germany"

[1] "China"   "Germany" "India"   "Japan"   "Russia"

In [23]:
new_num = c (3,6,4,5,3,4,4,5,6,3,2,5)
sort(new_num)

 [1] 2 3 3 3 4 4 4 5 5 5 6 6

In [24]:
# Accessing items in vectors
country
country[4]
country[2]
country[c(1,2)]
country[-c(1,2)]
country[3] = "USA"
country

[1] "Japan"   "China"   "Russia"  "India"   "Germany"

[1] "India"

[1] "China"

[1] "Japan" "China"

[1] "Russia"  "India"   "Germany"

[1] "Japan"   "China"   "USA"     "India"   "Germany"

In [25]:
new_num
new_num[4]

 [1] 3 6 4 5 3 4 4 5 6 3 2 5

[1] 5

In [26]:
# repeating vectors
rep_vec = rep(c(3,4,5,6), each = 3)
rep_vec

 [1] 3 3 3 4 4 4 5 5 5 6 6 6

In [27]:
rep_vec1 = rep(c(3,4,5,6), times = c(2,3,4,5))
rep_vec1

 [1] 3 3 4 4 4 5 5 5 5 6 6 6 6 6

## Lists

In [28]:
fruits = list("apple", "cherry", "fig", "banana")
fruits

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

In [29]:
# accessing elements from the list
fruits[2]
fruits[2:3]

[[1]]
[1] "cherry"

[[1]]
[1] "cherry"

[[2]]
[1] "fig"

In [30]:
fruits[5] = "Watermelon"
fruits

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "Watermelon"

In [31]:
length(fruits)

[1] 5

In [32]:
# checking if an item is present
"mango" %in% fruits
"fig" %in% fruits

[1] FALSE

[1] TRUE

In [33]:
# appending an item
append(fruits, "mango")
new_fruits =append(fruits, c("plum", "guava"))
new_fruits

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "Watermelon"

[[6]]
[1] "mango"

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "Watermelon"

[[6]]
[1] "plum"

[[7]]
[1] "guava"

In [34]:
append(fruits, "kiwi", after = 3)

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "kiwi"

[[5]]
[1] "banana"

[[6]]
[1] "Watermelon"

In [35]:
fruits

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "Watermelon"

In [36]:
new_fruits
new_fruits[-5]

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "Watermelon"

[[6]]
[1] "plum"

[[7]]
[1] "guava"

[[1]]
[1] "apple"

[[2]]
[1] "cherry"

[[3]]
[1] "fig"

[[4]]
[1] "banana"

[[5]]
[1] "plum"

[[6]]
[1] "guava"

# Matrices

In [37]:
matrix1 = matrix(c(10,20,30,40,50,60), nrow = 2, ncol = 3)
matrix1

     [,1] [,2] [,3]
[1,] 10   30   50
[2,] 20   40   60

In [38]:
matrix2 = matrix(c(10,20,30,40,50,60), nrow = 2, ncol = 3, byrow = TRUE)
matrix2

     [,1] [,2] [,3]
[1,] 10   20   30
[2,] 40   50   60

In [39]:
# matrix of characters
matrics2 = matrix(c("Cairo", "London", "Austin", "Paris"), nrow = 2,
ncol = 2)
matrics2

     [,1]   [,2]
[1,] Cairo  Austin
[2,] London Paris

In [40]:
# accessing items
matrics2[1,2]

[1] "Austin"

In [41]:
#rows
matrics2[2,]
#column
matrics2[,2]

[1] "London" "Paris"

[1] "Austin" "Paris"

In [42]:
# adding new columns
matrics3 = cbind(matrics2, c("Delhi", "Sydney"))
matrics3

     [,1]   [,2]   [,3]
[1,] Cairo  Austin Delhi
[2,] London Paris  Sydney

In [43]:
# adding new rows
matrics4 = rbind(matrics3, c("Tokyo", "Kyoto", "Glasgow"))
matrics4

     [,1]   [,2]   [,3]
[1,] Cairo  Austin Delhi
[2,] London Paris  Sydney
[3,] Tokyo  Kyoto  Glasgow

In [44]:
# removing columns and rows from matrics
new_matrix = matrics4[c(-1), c(-2)]
new_matrix

     [,1]   [,2]
[1,] London Sydney
[2,] Tokyo  Glasgow

In [45]:
# checking items
"Cairo" %in% matrics4

[1] TRUE

In [46]:
# get the number of row and column
dim(new_matrix)

[1] 2 2

In [47]:
dim(matrics4)
length(matrics4)

[1] 3 3

[1] 9

## Array

In [48]:
my_arr = c(1,2,3,4,5)
my_arr

[1] 1 2 3 4 5

In [49]:
mult_dim = c(1:35)
mult_dim = array(mult_dim, dim = c(5,3,3))
mult_dim

, , 1

     [,1] [,2] [,3]
[1,]    1    6   11
[2,]    2    7   12
[3,]    3    8   13
[4,]    4    9   14
[5,]    5   10   15

, , 2

     [,1] [,2] [,3]
[1,]   16   21   26
[2,]   17   22   27
[3,]   18   23   28
[4,]   19   24   29
[5,]   20   25   30

, , 3

     [,1] [,2] [,3]
[1,]   31    1    6
[2,]   32    2    7
[3,]   33    3    8
[4,]   34    4    9
[5,]   35    5   10

In [50]:
mult_dim[3,3,2]

[1] 28

In [53]:
27 %in% mult_dim

[1] TRUE

In [54]:
length(mult_dim)

[1] 45

In [55]:
str(mult_dim)

 int [1:5, 1:3, 1:3] 1 2 3 4 5 6 7 8 9 10 ...

In [56]:
dim(mult_dim)

[1] 5 3 3

## DataFrame
- a list of equal length vectors
- displayed ina format as a table
- can have different types

In [58]:
new_df = data.frame(
  player = c("Messi", "Ronaldo", "Bale"),
  number = c(24, 7, 18),
  height = c(168, 173, 180)
)

new_df

  player  number height
1 Messi   24     168
2 Ronaldo  7     173
3 Bale    18     180

In [59]:
# summarizing the data from the data frame
summary(new_df)

    player              number          height
 Length:3           Min.   : 7.00   Min.   :168.0
 Class :character   1st Qu.:12.50   1st Qu.:170.5
 Mode  :character   Median :18.00   Median :173.0
                    Mean   :16.33   Mean   :173.7
                    3rd Qu.:21.00   3rd Qu.:176.5
                    Max.   :24.00   Max.   :180.0

In [60]:
summary(new_df$height)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  168.0   170.5   173.0   173.7   176.5   180.0

In [77]:
new_df

  player  number height
1 Messi   24     168
2 Ronaldo  7     173
3 Bale    18     180

In [62]:
# accessing the dtaframe items
new_df[2]

  number
1 24
2  7
3 18

In [65]:
new_df[2,1]

[1] "Ronaldo"

In [72]:
new_df[['player']]

[1] "Messi"   "Ronaldo" "Bale"

In [68]:
new_df['player']

  player
1 Messi
2 Ronaldo
3 Bale

In [70]:
typeof(new_df)

[1] "list"

In [73]:
# adding rows in a dataframe
new_rowdf = rbind(new_df, c("Pogba", 10, 179))
new_rowdf

  player  number height
1 Messi   24     168
2 Ronaldo 7      173
3 Bale    18     180
4 Pogba   10     179

In [79]:
#addinga new column in dataframe
new_col = cbind(new_df, speed = c(80, 95, 80))
new_col

  player  number height speed
1 Messi   24     168    80
2 Ronaldo  7     173    95
3 Bale    18     180    80

In [82]:
# removing rows and column from the dataframe
new_rowdf

  player  number height
1 Messi   24     168
2 Ronaldo 7      173
3 Bale    18     180
4 Pogba   10     179

In [88]:
new_rowdf[-4,]

  player  number height
1 Messi   24     168
2 Ronaldo 7      173
3 Bale    18     180

In [89]:
new_col

  player  number height speed
1 Messi   24     168    80
2 Ronaldo  7     173    95
3 Bale    18     180    80

In [94]:
new_col[-c(4)]

  player  number height
1 Messi   24     168
2 Ronaldo  7     173
3 Bale    18     180

In [95]:
# getting the dim
dim(new_df)

[1] 3 3

In [96]:
ncol(new_df)
nrow(new_df)

[1] 3

[1] 3

In [97]:
length(new_df)

[1] 3

In [98]:
# dataframe concatenation row-wise / vertically
new_df = data.frame(
  player = c("Messi", "Ronaldo", "Bale"),
  number = c(24, 7, 18),
  height = c(168, 173, 180)
)
new_df2 = data.frame(
  player = c("Messi", "Ronaldo", "Bale"),
  number = c(24, 7, 18),
  height = c(168, 173, 180)
)

In [99]:
new_concate = rbind(new_df, new_df2)
new_concate

  player  number height
1 Messi   24     168
2 Ronaldo  7     173
3 Bale    18     180
4 Messi   24     168
5 Ronaldo  7     173
6 Bale    18     180

In [100]:
# dataframe concatenation column wise / horizontolly
df_concate2 = cbind(new_df, new_df2)
df_concate2

  player  number height player  number height
1 Messi   24     168    Messi   24     168
2 Ronaldo  7     173    Ronaldo  7     173
3 Bale    18     180    Bale    18     180

## Factors
- work with categorical variables

In [104]:
# built-in function 'factor(c())'
new_fruits = factor(c("banana", "apple", "fig", "banana", "banana", "fig"))
new_fruits

[1] banana apple  fig    banana banana fig
Levels: apple banana fig

In [105]:
str(new_fruits)

 Factor w/ 3 levels "apple","banana",..: 2 1 3 2 2 3

In [106]:
length(new_fruits)

[1] 6

In [109]:
# setting levels
my_fruit = factor(c("banana", "fig", "apple", "banana"), levels = c("apple", "fig", "banana"))
my_fruit

[1] banana fig    apple  banana
Levels: apple fig banana

In [110]:
# accessing factor items
my_fruit[2]

[1] fig
Levels: apple fig banana

In [115]:
# changing value
my_fruit[3] = "banana"

In [116]:
my_fruit

[1] banana fig    banana banana
Levels: apple fig banana

In [117]:
# you cannot change the value of specified item if not specified
my_fruit[3] = "melon"
my_fruit

Warning message in `[<-.factor`(`*tmp*`, 3, value = "melon"):
“invalid factor level, NA generated”

[1] banana fig    <NA>   banana
Levels: apple fig banana

## Conditional statement
-----
if (condition) {
  #code
} else if (condition) {
  #code
} else {
  #code
}

In [126]:
# conditional if
x = 25
y = 100

if(x<y) {
  print("The value of y is greater than x.")
} else {
  print("X is greater.")
}

[1] "The value of y is greater than x."

In [139]:
x = 20
y = 10*2

if(x > y) {
  print("x is greater than y.")
} else if(x == y) {
  print("x is equal to y.")
} else {
  print("y is greater.")
}

[1] "x is equal to y."

# **Repetition / Loops**

## While loop
while (condition) { }

In [140]:
x = 1

while (x < 10) {
  print(x)
  x = x + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [143]:
x = 1
while (x <= 10) {
  print(x)
  x = x + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [145]:
# break statement to stop the loop
x = 1

while (x <= 10) {
  print(x)
  x = x + 1

  # using break statement
  if (x == 5) {
    break
  }
}

[1] 1
[1] 2
[1] 3
[1] 4

## For loop
for (var in sequence) { }

In [149]:
seq = 1:15
for (i in seq) {
  print(i)
if (i == 10) {
  break
}
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [151]:
name = c("Gaurav", "Xandar", "Daniel", "Peter")

for (i in name) {
  print(i)
}

[1] "Gaurav"
[1] "Xandar"
[1] "Daniel"
[1] "Peter"

In [152]:
number = c(10,20,30,40,50)

for (i in number) {
  print(i)
}

[1] 10
[1] 20
[1] 30
[1] 40
[1] 50

In [160]:
# next to escape the value
 for (i in number) {
  if (i == 30) {
    next
  }
  print(i)

 }

[1] 10
[1] 20
[1] 40
[1] 50

In [162]:
for (i in number) {
  if (i %in% c(30, 40)) {
    next
  }
  print(i)
}

[1] 10
[1] 20
[1] 50

## **Functions**

- repeating blocks of code in a program
- function( )

In [166]:
# user defined function
greeting  = function() {
  print("Hello, everyone!")
}

greeting()

[1] "Hello, everyone!"

In [171]:
bye = function() {
  print("Goodbye")
}

bye()

[1] "Goodbye"

In [179]:
# function with params
full_name = function(fname) {
  paste(fname, "Dahal")
}

full_name("Gaurav")

[1] "Gaurav Dahal"

In [182]:
fullname2 = function(fname, job) {
  paste(fname , "is a ", job)
}

fullname2("Gaurav", "teacher!")

[1] "Gaurav is a  teacher!"

In [183]:
fullname2("Gaurav", "Data Scientist")

[1] "Gaurav is a  Data Scientist"

In [187]:
# return statement
mult = function(n) {
  return(10 * n)
}

mult(5)
mult(15)
print(mult(5))
print(mult(15))

[1] 50

[1] 150

[1] 50
[1] 150

In [188]:
# Global variable
new_str = "fun"

new_func = function() {
  paste("R programming is", new_str)
}

new_func()

[1] "R programming is fun"

In [190]:
new_str = "fun"

new_func2 = function() {
  new_str = "powerful!" # local variable
  paste("R programming is", new_str)
}

new_func2()
new_str

[1] "R programming is powerful!"

[1] "fun"